snippet head "file header" b
/**********************************************************************
*                             test header                             #
**********************************************************************/

endsnippet
